<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers/header :: list_page_head('Users - ISMM Admin')"></head>

<body>

    <div class="container-fluid">
        <div th:replace="fragments/navigation/nav :: menu"></div>
    
            <div>
                <h2>Manage Users</h2>
                <a th:href="@{/users/new}">
                    <i class="fa-solid fa-user-plus fa-2x icon-dark mr-3" ></i>
                </a>
    
                <a th:href="@{/users/export/csv}" target="_self">
                    <i class="fa-solid fa-file-csv fa-2x icon-dark mr-3" ></i>
                </a>
    
                <a th:href="@{/users/export/excel}" target="_self">
                    <i class="fa-solid fa-file-excel fa-2x icon-dark mr-3"></i>
                </a>
    
                <a th:href="@{/users/export/pdf}" target="_self">
                    <i class="fa-solid fa-file-pdf fa-2x icon-dark" ></i>
                </a>
            </div>


            <div th:replace="fragments/lists/lists :: search_form_and_message('/users/page/1')"/>

            
            <div class="full-details">
                <table class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="hideable-column">
                                <th th:replace="fragments/lists/lists :: column_link('/users', 'id' , 'User ID', 'tag')" />
                            </th>
                            <th>Photos</th>
                            <th class="hideable-column">
                                <th th:replace="fragments/lists/lists :: column_link('/users', 'email' , 'E-mail', 'tag')" />
                            </th>
                            <th th:replace="fragments/lists/lists :: column_link('/users', 'firstName' , 'First Name', 'none')" />
                            <th th:replace="fragments/lists/lists :: column_link('/users', 'lastName' , 'Last Name', 'none')" />
                            <th>Roles</th>
                            <th th:replace="fragments/lists/lists :: column_link('/users', 'enabled' , 'Enabled', 'none')" />
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${listOfUsers}">
                            <td class="hideable-column">[[${user.id}]]</td>
                            <td>
                                <div th:replace="fragments/users/users :: user_photos"></div>
                            </td>
                            <td class="hideable-column">[[${user.email}]]</td>
                            <td>[[${user.firstName}]]</td>
                            <td>[[${user.lastName}]]</td>
                            <td>[[${user.userRoles}]]</td>
                            <td>
                                <div th:replace="fragments/lists/lists :: status(${user.enabled}, 'users' , '/users/' + ${user.id})" />
                                
                            </td>
                            <td class="crud-icons">
                                <div th:replace="fragments/lists/lists :: edit('user', '/users/edit/' + ${user.id})" />
                                &nbsp;&nbsp;
						        <div th:replace="fragments/lists/lists :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        
            
            <div class="less-details">
            <div th:each="user : ${listOfUsers}" class="row m-1">
                <div class="col-4">
                    <div th:replace="fragments/users/users :: user_photos"></div>
                </div>
                <div class="col-8">
                    <div>[[${user.fullName}]]</div>
                    <div class="mt-2">[[${user.userRoles}]]</div>
                    <div class="mt-2">
                        <div th:replace="fragments/lists/lists :: status(${user.enabled}, 'users' , '/users/' + ${user.id})"></div>
                        &nbsp;
                        <div th:replace="fragments/lists/lists :: edit('user', '/users/edit/' + ${user.id})"></div>
                        &nbsp;
                        <div th:replace="fragments/lists/lists :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" ></div>

                    </div>
                </div>
                <div>&nbsp;</div>

            </div>
        </div>

        <div th:replace="fragments/lists/lists :: pagination('/users', 'users')"></div>

    
        <div th:replace="fragments/modal_fragments/modal :: confirm_modal"></div>

        
        <div th:replace="fragments/footer/footer :: footer"></div>
    </div>

	<script th:src="@{/js/common_list.js}"></script>
    <script>
        $( function() {
            moduleURL = "[[@{/users}]]";

            $(".link-delete").on("click" , function(e) {
                e.preventDefault();
                showDeleteConfirmModal($(this) , 'user');
            });
        });
    </script>
</body>
</html>