<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers/header :: page_head('Home - ISMM Admin')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/navigation/nav :: menu"></div>
        
        <div>
            <h2>Iron Steed Motorcycle Mechanics Control Panel</h2>
            Welcome 
            <a th:href="@{/account}" sec:authentication="principal.fullName"></a>
            &nbsp;
            <span sec:authentication="principal.authorities" ></span>
        </div>
        
        
        <div th:replace="fragments/footer/footer :: footer"></div>
        
        
    </div>
</body>
</html>