:root{
	--pageAccentColor: #254fa8;
	--textContrastColor: white;
}

.company-logo {
	height: 6em;
}


nav {
    background-color: var(--pageAccentColor);
}

#topNavbar ul li >a {
	color: var(--textContrastColor);
}

.nav-item a:hover {
	color:black;
}

#paginationNav{
	padding: 5px 0;
	margin-bottom: 5px;
}

#paginationNavContent{
	margin-bottom: 0;
}