:root{
	--pageAccentColor: #254fa8;
	--textContrastColor: white;
}


*.icon-white {color:white}
*.icon-silver {color:silver}
*.icon-green {color:green}
*.icon-dark {color:gray}


.company-logo {
	height: 6em;
}


nav {
    background-color: var(--pageAccentColor);
}

#topNavbar ul li >a {
	color: var(--textContrastColor);
}

.nav-item a:hover {
	color:black;
}

#paginationNav{
	padding: 5px 0;
	margin-bottom: 5px;
}

#paginationNavContent{
	margin-bottom: 0;
}