#passwordContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

#passwordEyeContainer {
    height: 100%;
    margin-left: 5px;
}


.shadow-danger-custom {
    box-shadow: 0 0 8px 3px red;
}


#thumbnail {
    height: 200px;
    width: 160px;
}