:root{
	--pageAccentColor: #254fa8;
	--textContrastColor: white;
}


*.icon-white {color:white}
*.icon-silver {color:silver}
*.icon-green {color:green}
*.icon-dark {color:gray}


.user-edit-icons {
	display: flex;
}

#thumbnail {
    width: 100px;
}