:root{
	--pageAccentColor: #254fa8;
	--textContrastColor: white;
}


.company-logo {
	height: 6em;
}


nav {
    background-color: var(--pageAccentColor);
}

.nav-item a {
	text-decoration: none;
	color: var(--textContrastColor);
}

.nav-item a:hover {
	color:black;
}

/*

html, body {
	height: 100%;
}

body {
	margin: 0;
}

nav >a, a> img {
    height: 100%;
}

.nav-list-container {
	display: flex;
	width: 50%;
	align-items: center;
	margin-right: 15px;
}

.nav-list-container > ul {
	width:100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;

}

*/
