<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
   

    <head th:fragment="common_page_head(title, remove)" th:remove="${remove}">
        <meta charset='utf-8'>
        <title>[[${title}]]</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
          
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet"  type="text/css" th:href="@{/fontawesome/all.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" >
        <link rel="stylesheet" type="text/css" th:href="@{/css/commonStyle.css}" />		
    </head> 


    <head th:fragment="list_page_head(title)">
        <meta charset='utf-8'>
        <title>[[${title}]]</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
          
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet"  type="text/css" th:href="@{/fontawesome/all.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" >
        <link rel="stylesheet" type="text/css" th:href="@{/css/commonStyle.css}" />	
        <link rel="stylesheet" type="text/css" th:href="@{/css/lists.css}">
	
    </head>
</html>